<!DOCTYPE HTML>
<html>
<head>
    <title>Adding a new client</title>
</head>
<body>
<div>
    <h4>Add new client</h4>
    <form action="../clients" method="post">
        <label>Name
            <br/>
            <input type="text" name="name">
        </label>
        <br/>
        <label>
            Address<br/>
            <input type="text" name="street">
        </label>
        <br/>
        <label>
            Phone number (if you want to specify more than one value, separate them with a comma)<br/>
            <input type="text" name="phones">
        </label>
        <br/>
        <br/>
        <input type="submit" value="Create">
    </form>
</div>
</body>
</html>